
body { 
	background-color: #6895b5;
	font-family:Verdana;
	font-size:11px; 
}

.clear { 
	clear:both; 
	font-size:0.1px; 
	height:0pt; 
	line-height:0pt; 
	width:0pt; 
	margin:0; 
	padding:0; 
}

.repositoryContainer, #footer { 
	width:750px; 
	margin:50px auto; 
	overflow:hidden;
}

h1 { 
	margin:0;
	font-size:22px;
	color: #000; 
	display:block;
	width:auto;
	background-color:#eae4bd;
	padding:7px;
	position:relative;
	z-index:100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
}

ul#repositories { 
	padding:0; 
	margin:0; 
	list-style-type:none;
}

ul#repositories li {
	display:block;	
	margin-left:15px;
}

ul#repositories li a {
	font-size:13px;
	color:#000;
	height:15px;
	width:auto;
	padding:5px 5px 5px 20px;
	margin:5px 0 5px 5px;
	text-decoration:none;
	display:block;	
	overflow:hidden;
	background:#cbd6de url(images/bullet.png) no-repeat 0 40%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

ul#repositories li a:hover {
	background-color:#fff;
}

.createRepository {
	float:right;
	font-size:11px;
	color:#000;
	height:10px;
	width:170px;
	padding:3px 5px 5px 20px;
	margin:0 0 5px 5px;
	text-decoration:none;
	display:block;	
	overflow:hidden;
	z-index:99;
	background:#eae4bd url(images/add.png) no-repeat 2% 55%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
}

.latest-commit {
	color: #808080;
	font-size: smaller;
}

#footer {
	text-align: center;
	font-size: smaller;
}

#footer a {
	color: #5b5b5b;
}


	
/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
	display: none;	
	position: fixed;
	top: 17%;
	left: 50%;	
	margin-left: -300px;
	width: 600px;	
	background-color: #EEE;
	color: #333;
	border: 10px solid #6495bc;
	border-top-width:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
	 Star selector used to hide definition from browsers other than IE6
	 For valid CSS, use a conditional include instead */
* html .jqmWindow {
	 position: absolute;
	 top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.jqmWindow div.title {
	background-color:#6495bc;
	width:100%;
	padding:3px;
	color:#fff;
	font-size:13px;
}

.jqmWindow div.content {
	margin:10px;
}

.jqmWindow div.content input {
	width:500px
}

.jqmWindow div.content .button {
	height:26px;
	width:180px !important;
}

a.jqmClose { 
	float:right;
	margin:0 3px 2px 0;
}

.jqmClose img { 
	border:0;
	width:15px;
	height:15px;
}